*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}

 /* Navigation Menu style start */
.container{
    display: flex;
   justify-content: space-around;
   margin-top: 1em;
}
.nav-header h2{
    font-size: 30px;
    color: brown;
}
.navigation-list{
    display: flex;
}
.nav-link{
    margin-left: 1.5em;
    margin-top: 0.5em;
}
.nav-link a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
 /* Navigation Menu style end */

 /* Header style start */
.header{
    margin-top: 2em;
    text-align: center;
}
.header-info h1{
    font-size: 35px;
    margin-bottom: 0.5em;
}
.header-info p{
    font-size: 16px;
    margin-bottom: 1em;
    font-weight:600;
}
.header-img img{
    width: 70%;
}
.explore-btn{
    background-color: #FF900E;
    color: #fff;
    border-style: none;
    padding: 1em 1.5em;
    margin-bottom: 2em;
    border-radius: 5px;
    font-size: 16px;
}
 /* Header style end */

 /* main section style start */
 .feature-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center; 
    align-items: center; 
    margin: 50px 150px;
 }
 .feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
 }
 .feature-img img{
    width: 90%;
 }
 .features{
    color: #FF900E;
 }
 .feature-info p{
    font-size: 16px;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;

 }
 /* main section style end */

/* Responsive  */
/* Mobile Devices */
@media only screen and (max-width:576px) {

     /* Navigation Menu responsive style start */ 
    .container{
        display: flex;
        flex-direction: column;
    }
    .navigation-list{
        display: flex;
        flex-direction: column;
    }
      /* Navigation Menu responsive style end */ 


      .feature-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 50px;
      }
      .feature-img{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 1em;

      }
}